/* Follow the directions below. Don't change any HTML, only CSS!
*/

/* Give the <body> element a background of #bdc3c7*/
body {
    font-family: Arial, Helvetica, sans-serif;
    /*background: #bdc3c7;*/
    background-image: url("../greenNature.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 200vh;
    width: 90vw;
  }

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /*background: #ccc;*/
  padding: 20px;
}

header {
display: flex;
grid-template-columns: 40% 60%;
width: 100%;
background: transparent;
background: #ccc;
}

header > h1 {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
}

header > nav {
  /* Style the list inside the menu */
  list-style-type: none;
  padding: 0 !important;
}

header > nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: fit-content;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid white;
    text-decoration: none; /* removes the underline */
    display: flex;
    justify-content: flex-start;
  }

  #firstBlog {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #bdc3c7;
    padding: 20px
  }
  
  #firstBlog > article {
    /*background-color: #f1f1f1;*/
    padding: 20px;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;

  }

  #firstBlog > ol {
    /*background: #ccc;*/
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 20px;
  }

  #secondBlog {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px
  }

  #secondBlog > ol {
    /*background: #ccc;*/
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 20px;
  }
  
  #secondBlog > article {
    /*background-color: #f1f1f1;*/
    padding: 20px;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;

  }


/*nav {
    display: flex;
    justify-content: flex-start;
    width: 80%;
  }*/

/* Make the <h1> element #9b59b6*/
h2 {
    color:#9b59b6;
    margin: 1% auto;
    border-bottom: 2px solid #1940A9;;
  }

/* Make all <h2> elements orange */
h3 {
    color:orange;
    grid-column: 2/3;
    margin: 1% auto;
    border-bottom: 2px solid #1940A9;;
  }

  ol.Roman {
    list-style-type: upper-roman;
  }

  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}

/* Make all <li> elements blue(pick your own hexadecimal blue)*/ 


/*Change the background on every paragraph to be yellow*/


/*Make all inputs have a 3px red border*/


/* Give everything with the class 'hello' a white background*/


/* Give the element with id 'special' a 2px solid blue border(pick your own rgb blue)*/


/*Make all the <p>'s that are nested inside of divs 25px font(font-size: 25px)*/


/*Make only inputs with type 'text' have a gray background*/


/* Give both <p>'s inside the 3rd <div> a pink background*/


/* Give the 2nd <p> inside the 3rd <div> a 5px white border*/


/* Make the <em> in the 3rd <div> element white and 20px font(font-size:20px)*/



/*BONUS CHALLENGES*/
/*You may need to research some other selectors and properties*/

/*Make all "checked" checkboxes have a left margin of 50px(margin-left: 50px)*/


/* Make the <label> elements all UPPERCASE without changing the HTML(definitely look this one up*/


/*Make the first letter of the element with id 'special' green and 100px font size(font-size: 100)*/


/*Make the <h1> element's color change to blue when hovered over */


/*Make the <a> element's that have been visited gray */