body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/backgrounds/MarioPipe.png");
    background-color: slategrey;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 90vw;
  }

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
}

header {
  display: flex;
  grid-template-columns: 30% 60% 10%;
  width: 100%;
  background: transparent;
  }

  header > img {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 20%;
    height: 50%;
    margin-bottom: 3% 10%;
    background-color: black;
    border-style: solid;
    border-radius: 50%;
    padding: 20px;
    justify-content: flex-start;
  }

  /*header > div {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    display: flex;
    grid-template-rows: 20% 80%;
    height: 100%;
  }*/

  header > div > h1 {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;  
  }

  header > div > article{
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: darkgrey;
    display: flex;
    justify-content: center;
  }

  /*header > nav {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    /*background: #ccc;*/
    /*padding: 10px;  
    display: flex;
    justify-content: flex-end;
  }*/
  
  header > nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: fit-content;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid black;
    text-decoration: none; /* removes the underline */
    display: flex;
    justify-content: flex-end;
  }

  #mainSection {
    background-color: #bdc3c7;
    display: flex;
    grid-template-columns: 20% 60% 20%;
    width: 100%;  
  }

  #mainSection > nav {
    grid-template-columns: 50% 50%;
    background: #bdc3c7;
    padding: 20px
  }

  /*#mainSection > nav > h2 {
    display: flex;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
  }*/

  #mainSection > nav > #contacts {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
  }

  #mainSection > nav > #skills {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    padding: 10px;
  }

  #mainSection > #workExperience {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    background: grey;
    padding: 20px
  }

  #mainSection > #awards {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    background: gray;
    padding: 20px
  }


  /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
  @media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
