body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("greenNature.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 90vw;
  }
  
  .logo {
    width: 30%;
    height: 80%;
    margin: 3% 10%;
  }
  
  header {
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
  }
  
  main {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
  }
  
  nav > a {
    margin: 2% 1% 3%;
    height: 10%;
    width: 15%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: fit-content;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    text-align: center;
    border: 2px solid white;
  }
  
  .has-border {
    border-radius: 25px;
    border: 2px solid #0795C3;
    background: none;
    padding: 20px; 
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    width: 80%;
  }

  /* .dropdown {
    overflow: hidden;
  } */

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  #profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 25%;
    margin: 10% auto;
    grid-column: 2/3;
  }
  
  h1 {
    color:white;
    grid-column: 2/3;
    margin: 1% auto;
    border-bottom: 2px solid #1940A9;;
  }
  
  h2 {
    grid-column: 2/3;
    margin: 1% auto;
    font-style: italic;
  }
  
  main button {
    grid-column: 2/3;
    margin: 3% auto;
    width: fit-content;
    height: 15%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
    border-radius: 25px;
    background: transparent;
    padding: 20px; 
    padding-bottom: 8%;
    text-align: center;
    color: white;
    letter-spacing: 16px;
    font-style: italic;
    display: inline-block;
  }

  footer {
    display: grid;
    width: 100%;
    text-align: center;
  }

  a {
    text-decoration: none; /* removes the underline */
  }

/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
