/* CSS Variables */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
  }
  
  html {
      font-size: 62.5%;
      box-sizing: border-box;
      font-family: Arial, Helvetica, sans-serif;
      color: var(--dark);
    }
    
    *, *::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit;
    }
  
    ul {list-style-type: none;}
  
  body {
      background: #ccc;
      background-image: url("/myPortfolio/images/backgrounds/bluevectors.png");
      background-repeat: no-repeat;
      /* background-size: 100% 100%; */
      height: 100vh;
      width: 90vw;  
      margin: 30px 50px;
      line-height: 1.4;
    }
  
  .wrapper {
    display: grid;
    grid-gap: 20px;
  }
  
    header {
        grid-column: 2/4;
        grid-row: 1/4;
        text-align: center;
        grid-area: header;
    }

    .clock {
        display: grid;
        background-image: url("/myPortfolio/images/backgrounds/colorsquarebkgrnd.png");
        top: 10%;
        left: 10%;
        /* transform: translateX(-50%) translateY(-50%); */
        color: whitesmoke;
        font-size: 60px;
        font-family: Orbitron;
        letter-spacing: 7px;
        max-width: 90%;
        max-height: 25%;
        margin-bottom: 3% 10%;
        /* background-color: black; */
        background-size: cover;
        background-position: left;
        border-style: solid;
        border-radius: 70%;
        padding: 20px;    
        grid-area: clock;
    }

    .clock > #myClockDisplay {
        text-align: center;
    }
  
    .calculator {
      display: grid;
      grid-column: 2/2;
      border: 1px solid #ccc;
      border-radius: 5px;
      top: 50%;
      left: 50%;
      width: 400px;
      background-color: slategray;
      box-shadow: var(--shadow);
      grid-area: calculator;
    }
  
    .calculator-screen {
      width: 100%;
      font-size: 5rem;
      height: 80px;
      border: none;
      background-color: #252525;
      color: #fff;
      text-align: right;
      padding-right: 20px;
      padding-left: 10px;
    }
  
    button {
      height: 60px;
      background-color: var(--light);
      border-radius: 3px;
      border: 1px solid #c4c4c4;
      background-color: transparent;
      font-size: 2rem;
      color: #333;
      background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
      box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
      text-shadow: 0 1px rgba(255,255,255,.4);
    }
    
    button:hover {
      background-color: #eaeaea;
    }
    
    .operator {
      color: #337cac;
    }
    
    .all-clear {
      background-color: #f0595f;
      border-color: #b0353a;
      color: #fff;
    }
    
    .all-clear:hover {
      background-color: #f17377;
    }
    
    .equal-sign {
      background-color: #2e86c0;
      border-color: #337cac;
      color: #fff;
      height: 100%;
      grid-row-start: 2;
      grid-row-end: 6;
      grid-column-start: 4;
      grid-column-end: 5;
    }
    
    .equal-sign:hover {
      background-color: #4e9ed4;
    }
  
    .calculator-keys {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
  
    .calendar {
        /*grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
        border: 10% solid #ccc;
        border-radius: 20%;*/
        width: 100%;
        height: 10%;
        grid-area: calendar;
    }
    
  .month {
      padding: 70px 25px;
      width: 100%;
      background: #1abc9c;
      text-align: center;
  }
    
  .month > ul {
      margin: 0;
      padding: 0;
  }
  
  .month > ul > li {
      color: white;
      font-size: 20px;
      text-transform: uppercase;
      letter-spacing: 3px;
  }
  
  /* Previous button inside month header */
  .month > ul > .prev {
      float: left;
      padding-top: 10px;
    }
    
    /* Next button */
    .month > ul > .next {
      float: right;
      padding-top: 10px;
    }
    
    /* Weekdays (Mon-Sun) */
    .weekdays {
      display: grid;
      margin: 0;
      padding: 10px 0;
      background-color:#ddd;
      grid-template-columns: repeat(7, 1fr)
    }
    
    .weekdays li {
      display: grid;
      width: 13.6%;
      /*grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
      color: #777;
      text-align: center;
    }
    
    /* Days (1-31) */
    .days {
      display: grid;
      padding: 10px 0;
      background: #eee;
      margin: 0;
      grid-template-columns: repeat(7,1fr)
    }
    
    .days li {
      list-style-type: none;
      display: inline-block;
      width: 13.6%;
      /*display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
      text-align: center;
      margin-bottom: 5px;
      font-size:12px;
      color: #777;
    }
    
    /* Highlight the "current" day */
    .days li .active {
      padding: 5px;
      background: #1abc9c;
      color: white !important
    }
  
    .middle-container {
      display: grid;
      grid-gap: 20px;
      grid-template-areas: 
        'clock calendar calendar calculator'
        'clock calendar calendar calculator';
    }

    /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
    @media (max-width: 600px) {
        .middle-container {
            grid-template-areas: 
                'clock'
                'calendar'
                'calculator';
        }

        .clock {
            max-height: 70%;
        }
    }

    @media (max-width: 800px) {
        .middle-container {
            grid-template-areas: 
                'clock clock'
                'calendar calendar'
                'calculator calculator';
        }

        .clock {
            max-height: 80%;
        }
    }

    @media (max-width: 1200px) {
        .middle-container {
            grid-template-areas: 
                'clock clock'
                'calendar calendar'
                'calculator calculator';
        }

        .clock {
            max-height: 80%;
        }
    }